//   start
$background-color-zysx: #D9BD1C;                                             //按钮背景色
$background-color-zysx1: #F8F6F0;                                          //主题背景色
$background-color-zysx2: #e2e7d0;
$background-color-zysx3: #cad1b2;
$background-color-zysx4: #e2dddc;
$background-color-zysx5: #efaa60;
$background-color-zysx6: #ffffff;
$background-color-zysx7: rgba(239, 236, 226, 0.2);
$background-color-zysx8: rgba(217,189,28,0.50);                          //按钮未选中的浅系颜色
$background-color-zysx9: rgba(206,212,180,0.14);
// loading
$background-color-zysx10: rgba(0,0,0,0.20);
$background-color-zysx11: rgba(255,255,255,0.80);
// pop
$background-color-zysx12: rgba(0, 0, 0, 0.72);
$background-color-zysx13: #ccb8b7;
$background-color-zysx14: rgba(255, 255, 255, 0.9);
// tag 渐变
$background-color-zysx15: linear-gradient(269deg, #bfd7e4 0%, #aeccdc 100%);
$background-color-zysx16: linear-gradient(90deg,
#ccd7a7 0%,
#dae3bc 100%);

$background-color-zysx17: linear-gradient(269deg,
#ece1c9 0%,
#e2d3b4 100%);

$background-color-zysx18: linear-gradient(269deg,
#e7d7bf 0%,
#e0c8a5 100%);

$background-color-zysx19: linear-gradient(90deg,
#b5c1f1 0%,
#c4cff4 100%);

$background-color-zysx20: linear-gradient(90deg,
#f1d9b5 0%,
#f4c4c4 100%);

$background-color-zysx21: linear-gradient(90deg,
#f1cfb5 0%,
#f4d8c4 100%);
$background-color-zysx22: rgba(255,255,255,0.90);
$background-color-zysx23: rgba(208,186,179,0.14);
$background-color-zysx24: rgba(204,184,183,0.5);
$background-color-zysx25: rgba(222,150,72,0.50);

$font-color-zysx: #D9BD1C;                                                // 主题字体颜色
$font-color-zysx1: #3D412F;
$font-color-zysx2: #2f0000;
$font-color-zysx3: #e2dddc;
$font-color-zysx4: #333333;
$font-color-zysx5: #999999;
$font-color-zysx6: #ffffff;
$font-color-zysx7: #2a2a2a;
$font-color-zysx8: #666666;
$font-color-zysx9: rgba(113, 58, 48, 0.6);
$font-color-zysx10: #de9648;
$font-color-zysx11: #D9BD1C;                                               //多选字体颜色
$font-color-zysx12: #C4C4C4;
$font-color-zysx13:  rgba(113,58,48,0.6);
$font-color-zysx14:  #C4C4C4; 
$font-color-zysx15: #DE9648;
$font-color-zysx16: #DE9648;
$font-color-zysx17:  #C7B1AF;

$box-shodow-zysx: rgba(217,189,28,0.40);                  // 主页下面大按钮的阴影
$box-shodow1-zysx: rgba(185,192,162,0.10);                // 主页中间内容区的阴影
$box-shodow2-zysx: rgba(217,189,28,0.40);                 //多选提示区的阴影
$box-shodow3-zysx: rgba(217,189,28,0.10);                // 重新测评阴影
$box-shodow4-zysx: rgba(208, 147, 83, 0.3);
$box-shodow5-zysx: rgba(228,199,193,0.50);

$border: #e2e7d0;
$border1-zysx: #D9BD1C;                               //选择运动方式，粗边框
$border2-zysx: rgba(218,200,97,0.40);                 //选择运动方式，细边框
$border3-zysx: rgba(217,189,28,0.40);                 //双边框颜色
$border4: #f1d8bd;
$border5: #e5caa2;
$border6: rgba(215,157,97,0.40);
$border7: rgba(255,255,255,0.50);
$border8: #f6f1ec;
$border9: #DE9648;
$border10: #E4C1A6;

$border-color: #e2dddc;
$border-color1-zysx: #D9BD1C;                         //多选边框颜色
$border-color2: rgba(222, 150, 72, 0.4);
$border-color3: rgba(215, 157, 97, 0.4);
$border-color4: rgba(255, 255, 255, 0.5);



$border-left: rgba(222, 150, 72, 0.4);

$background-image1: #F1CFB5;
$background-image2: #F4D8C4;
// 肾系 end